In [2]:
#  Pandas

import pandas as pd
import numpy as np

# Create a sample DataFrame (similar to many ML datasets)
# Creating a DataFrame from a Dictionary
d = {
    'CustomerID': [101, 102, 103, 104, 105],
    'Country': ['India', 'USA', 'India', 'UK', 'USA'],
    'Age': [25, 34, np.nan, 45, 23],
    'SignupDate': ['2021-01-05', '2020-12-20', '2021-02-10', None, '2021-03-01'],
    'Spend': [250.5, 300.0, 150.0, 400.25, None],
    'Churn': [0, 1, 0, 0, 1]
}

df = pd.DataFrame(d)


# Checking First Few Rows
# Basic peek
print("HEAD:\n", df.head())     # print(df.head(2))     # first 2 rows

print(df.tail(1))       # last row only

# Summary of DataFrame Info
print("\nINFO:")        
print(df.info())        # .info() tells you column names, data types, and null counts — essential for ML preprocessing.

print("\nDESCRIBE:\n", df.describe(include='all'))
# .describe() quickly shows mean, min, max, quartiles — useful for data understanding in ML.

# Getting Shape of the Data
print("\nSHAPE:", df.shape)     # (rows, columns)

print("\nCOLUMNS:", df.columns.tolist())

print("\nDTYPES:\n", df.dtypes)

print("\nSAMPLE ROW:", df.sample(2, random_state=1))


# Quick checks used by ML engineers
print("\nMissing per column:\n", df.isna().sum())
print("\nUnique values in Country:\n", df['Country'].value_counts())

HEAD:
    CustomerID Country   Age  SignupDate   Spend  Churn
0         101   India  25.0  2021-01-05  250.50      0
1         102     USA  34.0  2020-12-20  300.00      1
2         103   India   NaN  2021-02-10  150.00      0
3         104      UK  45.0        None  400.25      0
4         105     USA  23.0  2021-03-01     NaN      1
   CustomerID Country   Age  SignupDate  Spend  Churn
4         105     USA  23.0  2021-03-01    NaN      1

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  5 non-null      int64
 1   Country     5 non-null      object
 2   Age         4 non-null      float64
 3   SignupDate  4 non-null      object
 4   Spend       4 non-null      float64
 5   Churn       5 non-null      int64
dtypes: float64(2), int64(2), object(2)
memory usage: 372.0+ bytes
None

DESCRIBE:
         CustomerID Country        Age  SignupDate       Spend     Churn
count     5.000000       5   4.000000           4    4.000000  5.000000
unique         NaN       3        NaN           4         NaN       NaN
top            NaN   India        NaN  2021-01-05         NaN       NaN
freq           NaN       2        NaN           1         NaN       NaN
mean    103.000000     NaN  31.750000         NaN  275.187500  0.400000
std       1.581139     NaN  10.045729         NaN  104.143606  0.547723
min     101.000000     NaN  23.000000         NaN  150.000000  0.000000
25%     102.000000     NaN  24.500000         NaN  225.375000  0.000000
50%     103.000000     NaN  29.500000         NaN  275.250000  0.000000
75%     104.000000     NaN  36.750000         NaN  325.062500  1.000000
max     105.000000     NaN  45.000000         NaN  400.250000  1.000000

SHAPE: (5, 6)

COLUMNS: ['CustomerID', 'Country', 'Age', 'SignupDate', 'Spend', 'Churn']

DTYPES:
 CustomerID      int64
Country        object
Age           float64
SignupDate     object
Spend         float64
Churn           int64
dtype: object

SAMPLE ROW:    CustomerID Country   Age  SignupDate  Spend  Churn
2         103   India   NaN  2021-02-10  150.0      0
1         102     USA  34.0  2020-12-20  300.0      1

Missing per column:
 CustomerID    0
Country       0
Age           1
SignupDate    1
Spend         1
Churn         0
dtype: int64

Unique values in Country:
 Country
India    2
USA      2
UK       1
Name: count, dtype: int64

In [3]:
# Chapter 2 — Reading & Writing Data

import pandas as pd

# Reading CSV
url = r'E:\Self Ai Ml\sales_record.csv'  # raw string for Windows path

df = pd.read_csv(url)
print(df.head())

# Reading with options (only first 5 rows and specific columns)
df_small = pd.read_csv(url, nrows=5, usecols=['Country', 'Region'])
print(df_small)

# Writing CSV (note: use df_small not df.small)
df_small.to_csv('sales_record_small.csv', index=False)

# Reading Excel (requires openpyxl installed)
# df_excel = pd.read_excel('file.xlsx', sheet_name='Sheet1')

# Reading JSON Files
# df_json = pd.read_json("data.json")
# print(df_json.head())

# Reading in chunks for large files
chunk_iter = pd.read_csv(url, chunksize=2)
for chunk in chunk_iter:
    print("Chunk:")
    print(chunk)

                              Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0       Offline              H  5/28/2010  669165933  6/27/2010        9925
1        Online              C  8/22/2012  963881480  9/15/2012        2804
2       Offline              L   5/2/2014  341417157   5/8/2014        1779
3        Online              C  6/20/2014  514321792   7/5/2014        8102
4       Offline              L   2/1/2013  115456712   2/6/2013        5062

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      255.28     159.42     2533654.00  1582243.50     951410.50
1      205.70     117.11      576782.80   328376.44     248406.36
2      651.21     524.96     1158502.59   933903.84     224598.75
3        9.33       6.92       75591.66    56065.84      19525.82
4      651.21     524.96     3296425.02  2657347.52     639077.50
                              Region                Country
0              Australia and Oceania                 Tuvalu
1  Central America and the Caribbean                Grenada
2                             Europe                 Russia
3                 Sub-Saharan Africa  Sao Tome and Principe
4                 Sub-Saharan Africa                 Rwanda
Chunk:
                              Region  Country  Item Type Sales Channel  \
0              Australia and Oceania   Tuvalu  Baby Food       Offline
1  Central America and the Caribbean  Grenada     Cereal        Online

  Order Priority Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
0              H  5/28/2010  669165933  6/27/2010        9925      255.28
1              C  8/22/2012  963881480  9/15/2012        2804      205.70

   Unit Cost  Total Revenue  Total Cost  Total Profit
0     159.42      2533654.0  1582243.50     951410.50
1     117.11       576782.8   328376.44     248406.36
Chunk:
               Region                Country        Item Type Sales Channel  \
2              Europe                 Russia  Office Supplies       Offline
3  Sub-Saharan Africa  Sao Tome and Principe           Fruits        Online

  Order Priority Order Date   Order ID Ship Date  Units Sold  Unit Price  \
2              L   5/2/2014  341417157  5/8/2014        1779      651.21
3              C  6/20/2014  514321792  7/5/2014        8102        9.33

   Unit Cost  Total Revenue  Total Cost  Total Profit
2     524.96     1158502.59   933903.84     224598.75
3       6.92       75591.66    56065.84      19525.82
Chunk:
                  Region          Country        Item Type Sales Channel  \
4     Sub-Saharan Africa           Rwanda  Office Supplies       Offline
5  Australia and Oceania  Solomon Islands        Baby Food        Online

  Order Priority Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
4              L   2/1/2013  115456712   2/6/2013        5062      651.21
5              C   2/4/2015  547995746  2/21/2015        2974      255.28

   Unit Cost  Total Revenue  Total Cost  Total Profit
4     524.96     3296425.02  2657347.52     639077.50
5     159.42      759202.72   474115.08     285087.64
Chunk:
               Region       Country   Item Type Sales Channel Order Priority  \
6  Sub-Saharan Africa        Angola   Household       Offline              M
7  Sub-Saharan Africa  Burkina Faso  Vegetables        Online              H

  Order Date   Order ID  Ship Date  Units Sold  Unit Price  Unit Cost  \
6  4/23/2011  135425221  4/27/2011        4187      668.27     502.54
7  7/17/2012  871543967  7/27/2012        8082      154.06      90.93

   Total Revenue  Total Cost  Total Profit
6     2798046.49  2104134.98     693911.51
7     1245112.92   734896.26     510216.66
Chunk:
               Region                Country      Item Type Sales Channel  \
8  Sub-Saharan Africa  Republic of the Congo  Personal Care       Offline
9  Sub-Saharan Africa                Senegal         Cereal        Online

  Order Priority Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
8              M  7/14/2015  770463311  8/25/2015        6070       81.73
9              H  4/18/2014  616607081  5/30/2014        6593      205.70

   Unit Cost  Total Revenue  Total Cost  Total Profit
8      56.67       496101.1   343986.90     152114.20
9     117.11      1356180.1   772106.23     584073.87
Chunk:
                Region     Country   Item Type Sales Channel Order Priority  \
10                Asia  Kyrgyzstan  Vegetables        Online              H
11  Sub-Saharan Africa  Cape Verde     Clothes       Offline              H

   Order Date   Order ID  Ship Date  Units Sold  Unit Price  Unit Cost  \
10  6/24/2011  814711606  7/12/2011         124      154.06      90.93
11   8/2/2014  939825713  8/19/2014        4168      109.28      35.84

    Total Revenue  Total Cost  Total Profit
10       19103.44    11275.32       7828.12
11      455479.04   149381.12     306097.92
Chunk:
                               Region     Country  Item Type Sales Channel  \
12                               Asia  Bangladesh    Clothes        Online
13  Central America and the Caribbean    Honduras  Household       Offline

   Order Priority Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
12              L  1/13/2017  187310731   3/1/2017        8263      109.28
13              H   2/8/2017  522840487  2/13/2017        8974      668.27

    Unit Cost  Total Revenue  Total Cost  Total Profit
12      35.84      902980.64   296145.92     606834.72
13     502.54     5997054.98  4509793.96    1487261.02
Chunk:
    Region   Country      Item Type Sales Channel Order Priority Order Date  \
14    Asia  Mongolia  Personal Care       Offline              C  2/19/2014
15  Europe  Bulgaria        Clothes        Online              M  4/23/2012

     Order ID  Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
14  832401311  2/23/2014        4901       81.73      56.67      400558.73
15  972292029   6/3/2012        1673      109.28      35.84      182825.44

    Total Cost  Total Profit
14   277739.67     122819.06
15    59960.32     122865.12
Chunk:
                Region    Country  Item Type Sales Channel Order Priority  \
16                Asia  Sri Lanka  Cosmetics       Offline              M
17  Sub-Saharan Africa   Cameroon  Beverages       Offline              C

    Order Date   Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
16  11/19/2016  419123971  12/18/2016        6952      437.20     263.33
17    4/1/2015  519820964   4/18/2015        5430       47.45      31.79

    Total Revenue  Total Cost  Total Profit
16      3039414.4  1830670.16    1208744.24
17       257653.5   172619.70      85033.80
Chunk:
                   Region       Country  Item Type Sales Channel  \
18                   Asia  Turkmenistan  Household       Offline
19  Australia and Oceania    East Timor       Meat        Online

   Order Priority  Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
18              L  12/30/2010  441619336  1/20/2011        3830      668.27
19              L   7/31/2012  322067916  9/11/2012        5908      421.89

    Unit Cost  Total Revenue  Total Cost  Total Profit
18     502.54     2559474.10  1924728.20      634745.9
19     364.69     2492526.12  2154588.52      337937.6
Chunk:
    Region   Country  Item Type Sales Channel Order Priority Order Date  \
20  Europe    Norway  Baby Food        Online              L  5/14/2014
21  Europe  Portugal  Baby Food        Online              H  7/31/2015

     Order ID  Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
20  819028031  6/28/2014        7450      255.28     159.42     1901836.00
21  860673511   9/3/2015        1273      255.28     159.42      324971.44

    Total Cost  Total Profit
20  1187679.00     714157.00
21   202941.66     122029.78
Chunk:
                               Region      Country Item Type Sales Channel  \
22  Central America and the Caribbean     Honduras    Snacks        Online
23              Australia and Oceania  New Zealand    Fruits        Online

   Order Priority Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
22              L  6/30/2016  795490682  7/26/2016        2225      152.58
23              H   9/8/2014  142278373  10/4/2014        2187        9.33

    Unit Cost  Total Revenue  Total Cost  Total Profit
22      97.44      339490.50   216804.00     122686.50
23       6.92       20404.71    15134.04       5270.67
Chunk:
    Region   Country      Item Type Sales Channel Order Priority Order Date  \
24  Europe  Moldova   Personal Care        Online              L   5/7/2016
25  Europe    France      Cosmetics        Online              H  5/22/2017

     Order ID  Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
24  740147912  5/10/2016        5070       81.73      56.67       414371.1
25  898523128   6/5/2017        1815      437.20     263.33       793518.0

    Total Cost  Total Profit
24   287316.90     127054.20
25   477943.95     315574.05
Chunk:
                   Region   Country Item Type Sales Channel Order Priority  \
26  Australia and Oceania  Kiribati    Fruits        Online              M
27     Sub-Saharan Africa      Mali    Fruits        Online              L

    Order Date   Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
26  10/13/2014  347140347  11/10/2014        5398        9.33       6.92
27    5/7/2010  686048400   5/10/2010        5822        9.33       6.92

    Total Revenue  Total Cost  Total Profit
26       50363.34    37354.16      13009.18
27       54319.26    40288.24      14031.02
Chunk:
                Region     Country  Item Type Sales Channel Order Priority  \
28              Europe      Norway  Beverages       Offline              C
29  Sub-Saharan Africa  The Gambia  Household       Offline              L

   Order Date   Order ID  Ship Date  Units Sold  Unit Price  Unit Cost  \
28  7/18/2014  435608613  7/30/2014        5124       47.45      31.79
29  5/26/2012  886494815   6/9/2012        2370      668.27     502.54

    Total Revenue  Total Cost  Total Profit
28       243133.8   162891.96      80241.84
29      1583799.9  1191019.80     392780.10
Chunk:
                Region      Country      Item Type Sales Channel  \
30              Europe  Switzerland      Cosmetics       Offline
31  Sub-Saharan Africa  South Sudan  Personal Care       Offline

   Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
30              M   9/17/2012  249693334  10/20/2012        8661      437.20
31              C  12/29/2013  406502997   1/28/2014        2125       81.73

    Unit Cost  Total Revenue  Total Cost  Total Profit
30     263.33     3786589.20  2280701.13    1505888.07
31      56.67      173676.25   120423.75      53252.50
Chunk:
                   Region    Country        Item Type Sales Channel  \
32  Australia and Oceania  Australia  Office Supplies        Online
33                   Asia    Myanmar        Household       Offline

   Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
32              C  10/27/2015  158535134  11/25/2015        2924      651.21
33              H   1/16/2015  177713572    3/1/2015        8250      668.27

    Unit Cost  Total Revenue  Total Cost  Total Profit
32     524.96     1904138.04  1534983.04      369155.0
33     502.54     5513227.50  4145955.00     1367272.5
Chunk:
                               Region     Country      Item Type  \
34                 Sub-Saharan Africa    Djibouti         Snacks
35  Central America and the Caribbean  Costa Rica  Personal Care

   Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
34        Online              M  2/25/2017  756274640  2/25/2017        7327
35       Offline              L   5/8/2017  456767165  5/21/2017        6409

    Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
34      152.58      97.44     1117953.66   713942.88     404010.78
35       81.73      56.67      523807.57   363198.03     160609.54
Chunk:
                          Region     Country Item Type Sales Channel  \
36  Middle East and North Africa       Syria    Fruits        Online
37            Sub-Saharan Africa  The Gambia      Meat        Online

   Order Priority  Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
36              L  11/22/2011  162052476  12/3/2011        3784        9.33
37              M   1/14/2017  825304400  1/23/2017        4767      421.89

    Unit Cost  Total Revenue  Total Cost  Total Profit
36       6.92       35304.72    26185.28       9119.44
37     364.69     2011149.63  1738477.23     272672.40
Chunk:
    Region   Country        Item Type Sales Channel Order Priority Order Date  \
38    Asia    Brunei  Office Supplies        Online              L   4/1/2012
39  Europe  Bulgaria  Office Supplies        Online              M  2/16/2012

     Order ID  Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
38  320009267   5/8/2012        6708      651.21     524.96     4368316.68
39  189965903  2/28/2012        3987      651.21     524.96     2596374.27

    Total Cost  Total Profit
38  3521431.68     846885.00
39  2093015.52     503358.75
Chunk:
                          Region     Country      Item Type Sales Channel  \
40            Sub-Saharan Africa       Niger  Personal Care        Online
41  Middle East and North Africa  Azerbaijan      Cosmetics        Online

   Order Priority Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
40              H  3/11/2017  699285638  3/28/2017        3015       81.73
41              M   2/6/2010  382392299  2/25/2010        7234      437.20

    Unit Cost  Total Revenue  Total Cost  Total Profit
40      56.67      246415.95   170860.05      75555.90
41     263.33     3162704.80  1904929.22    1257775.58
Chunk:
                Region     Country   Item Type Sales Channel Order Priority  \
42  Sub-Saharan Africa  The Gambia      Cereal       Offline              H
43              Europe    Slovakia  Vegetables        Online              H

   Order Date   Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
42   6/7/2012  994022214    6/8/2012        2117      205.70     117.11
43  10/6/2012  759224212  11/10/2012         171      154.06      90.93

    Total Revenue  Total Cost  Total Profit
42      435466.90   247921.87     187545.03
43       26344.26    15549.03      10795.23
Chunk:
                Region  Country Item Type Sales Channel Order Priority  \
44                Asia  Myanmar   Clothes        Online              H
45  Sub-Saharan Africa  Comoros    Cereal       Offline              H

    Order Date   Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
44  11/14/2015  223359620  11/18/2015        5930      109.28      35.84
45   3/29/2016  902102267   4/29/2016         962      205.70     117.11

    Total Revenue  Total Cost  Total Profit
44       648030.4   212531.20     435499.20
45       197883.4   112659.82      85223.58
Chunk:
    Region      Country      Item Type Sales Channel Order Priority  \
46  Europe      Iceland      Cosmetics        Online              C
47  Europe  Switzerland  Personal Care        Online              M

    Order Date   Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
46  12/31/2016  331438481  12/31/2016        8867      437.20     263.33
47  12/23/2010  617667090   1/31/2011         273       81.73      56.67

    Total Revenue  Total Cost  Total Profit
46     3876652.40  2334947.11    1541705.29
47       22312.29    15470.91       6841.38
Chunk:
                Region     Country        Item Type Sales Channel  \
48              Europe   Macedonia          Clothes       Offline
49  Sub-Saharan Africa  Mauritania  Office Supplies       Offline

   Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
48              C  10/14/2014  787399423  11/14/2014        7842      109.28
49              C   1/11/2012  837559306   1/13/2012        1266      651.21

    Unit Cost  Total Revenue  Total Cost  Total Profit
48      35.84      856973.76   281057.28     575916.48
49     524.96      824431.86   664599.36     159832.50
Chunk:
                Region  Country Item Type Sales Channel Order Priority  \
50              Europe  Albania   Clothes        Online              C
51  Sub-Saharan Africa  Lesotho    Fruits        Online              L

   Order Date   Order ID  Ship Date  Units Sold  Unit Price  Unit Cost  \
50   2/2/2010  385383069  3/18/2010        2269      109.28      35.84
51  8/18/2013  918419539  9/18/2013        9606        9.33       6.92

    Total Revenue  Total Cost  Total Profit
50      247956.32    81320.96     166635.36
51       89623.98    66473.52      23150.46
Chunk:
                          Region       Country        Item Type Sales Channel  \
52  Middle East and North Africa  Saudi Arabia           Cereal        Online
53            Sub-Saharan Africa  Sierra Leone  Office Supplies       Offline

   Order Priority  Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
52              M   3/25/2013  844530045  3/28/2013        4063      205.70
53              M  11/26/2011  441888415   1/7/2012        3457      651.21

    Unit Cost  Total Revenue  Total Cost  Total Profit
52     117.11      835759.10   475817.93     359941.17
53     524.96     2251232.97  1814786.72     436446.25
Chunk:
                Region                Country Item Type Sales Channel  \
54  Sub-Saharan Africa  Sao Tome and Principe    Fruits       Offline
55  Sub-Saharan Africa          Cote d'Ivoire   Clothes        Online

   Order Priority Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
54              H  9/17/2013  508980977  10/24/2013        7637        9.33
55              C   6/8/2012  114606559   6/27/2012        3482      109.28

    Unit Cost  Total Revenue  Total Cost  Total Profit
54       6.92       71253.21    52848.04      18405.17
55      35.84      380512.96   124794.88     255718.08
Chunk:
                   Region  Country  Item Type Sales Channel Order Priority  \
56  Australia and Oceania     Fiji    Clothes       Offline              C
57                 Europe  Austria  Cosmetics       Offline              H

   Order Date   Order ID Ship Date  Units Sold  Unit Price  Unit Cost  \
56  6/30/2010  647876489  8/1/2010        9905      109.28      35.84
57  2/23/2015  868214595  3/2/2015        2847      437.20     263.33

    Total Revenue  Total Cost  Total Profit
56      1082418.4   354995.20     727423.20
57      1244708.4   749700.51     495007.89
Chunk:
                Region         Country  Item Type Sales Channel  \
58              Europe  United Kingdom  Household        Online
59  Sub-Saharan Africa        Djibouti  Cosmetics       Offline

   Order Priority Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
58              L   1/5/2012  955357205  2/14/2012         282      668.27
59              H   4/7/2014  259353148  4/19/2014        7215      437.20

    Unit Cost  Total Revenue  Total Cost  Total Profit
58     502.54      188452.14   141716.28      46735.86
59     263.33     3154398.00  1899925.95    1254472.05
Chunk:
                   Region     Country  Item Type Sales Channel Order Priority  \
60  Australia and Oceania   Australia     Cereal       Offline              H
61                 Europe  San Marino  Baby Food        Online              L

   Order Date   Order ID Ship Date  Units Sold  Unit Price  Unit Cost  \

In [4]:
# Chapter 3 — Selecting & Indexing Data

import pandas as pd
df = pd.read_csv('sample_sales.csv')
print(df.head())

   Country         Region  Sales  Units Sold Category
0      USA  North America    500          50        A
1    India           Asia    700          70        B
2       UK         Europe    300          30        A
3  Germany         Europe    400          40        B
4   Brazil  South America    350          35        A

In [5]:
# selecting columns
print(df["Country"])
print(df[["Country","Sales"]])

0        USA
1      India
2         UK
3    Germany
4     Brazil
5      Japan
6      India
7        USA
8         UK
9     Brazil
Name: Country, dtype: object
   Country  Sales
0      USA    500
1    India    700
2       UK    300
3  Germany    400
4   Brazil    350
5    Japan    800
6    India    650
7      USA    900
8       UK    200
9   Brazil    450

In [6]:
# selecting rows by index
print(df.iloc[0:5])
# single row (index 2)
print("\n")
print(df.iloc[2])
# last 3 rows
print("\n")
print(df.tail(3))

   Country         Region  Sales  Units Sold Category
0      USA  North America    500          50        A
1    India           Asia    700          70        B
2       UK         Europe    300          30        A
3  Germany         Europe    400          40        B
4   Brazil  South America    350          35        A


Country           UK
Region        Europe
Sales            300
Units Sold        30
Category           A
Name: 2, dtype: object


  Country         Region  Sales  Units Sold Category
7     USA  North America    900          90        A
8      UK         Europe    200          20        A
9  Brazil  South America    450          45        B

In [7]:
# 4. Selecting Rows by Condition (Boolean indexing)

# sales greater than 500
print(df[df["Sales"]>500])
print(df[(df["Country"] == "India") & (df["Sales"] > 600)])

  Country         Region  Sales  Units Sold Category
1   India           Asia    700          70        B
5   Japan           Asia    800          80        B
6   India           Asia    650          65        B
7     USA  North America    900          90        A
  Country Region  Sales  Units Sold Category
1   India   Asia    700          70        B
6   India   Asia    650          65        B

In [8]:
# Index-based & Label-based Selection

print(df.iloc[1:4, 0:3])  # rows 1-3, columns 0-2
print("\n")
print(df.loc[0:3, ["Country", "Sales"]])  # rows index 0-3, only Country & Sales columns

   Country  Region  Sales
1    India    Asia    700
2       UK  Europe    300
3  Germany  Europe    400


   Country  Sales
0      USA    500
1    India    700
2       UK    300
3  Germany    400

In [9]:
# Setting Index
df_indexed = df.set_index("Country")
print(df_indexed.loc["India"])

        Region  Sales  Units Sold Category
Country
India     Asia    700          70        B
India     Asia    650          65        B

In [10]:
# 7. Resetting Index
df_reset = df_indexed.reset_index()
print(df_reset.head())

   Country         Region  Sales  Units Sold Category
0      USA  North America    500          50        A
1    India           Asia    700          70        B
2       UK         Europe    300          30        A
3  Germany         Europe    400          40        B
4   Brazil  South America    350          35        A

In [11]:
# Chapter 4 — Data Cleaning

import pandas as pd
df = pd.read_csv("sample_sales.csv")
# check for missing values
print(df.isnull().sum())
# check total missing values in dataset
print("Total Missings :",df.isnull().sum().sum())

Country       0
Region        0
Sales         0
Units Sold    0
Category      0
dtype: int64
Total Missings : 0

In [12]:
# 2. Fill Missing Values

# fill numeric column (sales) with mean
df["Sales"] = df["Sales"].fillna(df["Sales"].mean())
# fill text column (Country) with a placeholder
df["Country"] = df["Country"].fillna("Unknown")
df

   Country         Region  Sales  Units Sold Category
0      USA  North America    500          50        A
1    India           Asia    700          70        B
2       UK         Europe    300          30        A
3  Germany         Europe    400          40        B
4   Brazil  South America    350          35        A
5    Japan           Asia    800          80        B
6    India           Asia    650          65        B
7      USA  North America    900          90        A
8       UK         Europe    200          20        A
9   Brazil  South America    450          45        B

In [13]:
# 3. Drop Missing Values

# drop any rows with missing values
df_drop = df.dropna()

# drop only if all columns are missing
df_drop_all = df.dropna(how="all")

In [14]:
# remove duplicates
# remove duplicate rows
df = df.drop_duplicates()

# remove duplicates based on specific columns
df = df.drop_duplicates(subset=["Country","Region"])

In [22]:
# change data dype
df["Sales"] = df["Sales"].astype(int)
# convert data column to datetime       # getting error 
# df["Date"] = pd.to_datetime(df["Date"])

In [24]:
# 6. Rename Columns
df = df.rename(columns={"Country": "Country_Name","Sales": "Total_Sales"})
df

  Country_Name         Region  Total_Sales  Units Sold Category
0          USA  North America          500          50        A
1        India           Asia          700          70        B
2           UK         Europe          300          30        A
3      Germany         Europe          400          40        B
4       Brazil  South America          350          35        A
5        Japan           Asia          800          80        B

In [25]:
# 7. String Operations (Cleaning Text Data)
# remove extra spaces
df["Country_Name"] = df["Country_Name"].str.strip()
# convert to lowercase
df["Country_Name"] = df["Country_Name"].str.lower()

In [2]:
# Chapter 5 — Grouping & Aggregations
import pandas as pd
df = pd.read_csv("sample_sales.csv")
# total sales by country
sales_by_country = df.groupby("Country")["Sales"].sum()
print(sales_by_country)

Country
Brazil      800
Germany     400
India      1350
Japan       800
UK          500
USA        1400
Name: Sales, dtype: int64

In [5]:
# GroupBy with Multiple Columns
# Total sales by country and category
sales_country_category = df.groupby(["Country","Category"])["Sales"].sum()
print(sales_country_category)

Country  Category
Brazil   A            350
         B            450
Germany  B            400
India    B           1350
Japan    B            800
UK       A            500
USA      A           1400
Name: Sales, dtype: int64

In [6]:
# Multiple Aggregations
# mean and sum of sales for each country
agg_sales = df.groupby("Country")["Sales"].agg(["mean","sum"])
print(agg_sales)

          mean   sum
Country
Brazil   400.0   800
Germany  400.0   400
India    675.0  1350
Japan    800.0   800
UK       250.0   500
USA      700.0  1400

In [7]:
# Aggregations on multiple columns
agg_multiple = df.groupby("Country").agg({
    "Sales": "sum",
    "Units Sold": "mean"
})
print(agg_multiple)

         Sales  Units Sold
Country
Brazil     800        40.0
Germany    400        40.0
India     1350        67.5
Japan      800        80.0
UK         500        25.0
USA       1400        70.0

In [8]:
# Reset index after groupby
sales_reset = df.groupby("Country")["Sales"].sum().reset_index()
print(sales_reset)

   Country  Sales
0   Brazil    800
1  Germany    400
2    India   1350
3    Japan    800
4       UK    500
5      USA   1400

In [9]:
# Sort Values
# sort aggregated results by sales
sales_sorted = sales_reset.sort_values(by="Sales", ascending=False)
print(sales_sorted)

   Country  Sales
5      USA   1400
2    India   1350
3    Japan    800
0   Brazil    800
4       UK    500
1  Germany    400

In [11]:
# pivot table
pivot_sales = pd.pivot_table(
    df,
    values="Sales",
    index="Country",
    columns="Category",
    aggfunc="sum",
    fill_value=0
)
print(pivot_sales)

Category     A     B
Country
Brazil     350   450
Germany      0   400
India        0  1350
Japan        0   800
UK         500     0
USA       1400     0

In [12]:
# Chapter 6 — Merging & Joining DataFrames
# 1. Inner Join

import pandas as pd

df_sales = pd.read_csv("sample_sales.csv")

# Extra dataset: country population
df_pop = pd.DataFrame({
    "Country": ["USA", "India", "UK", "Germany", "Brazil"],
    "Population": [331, 1380, 67, 83, 213]  # in millions
})

# Inner join → only common countries
df_inner = pd.merge(df_sales, df_pop, on="Country", how="inner")
print(df_inner)

   Country         Region  Sales  Units Sold Category  Population
0      USA  North America    500          50        A         331
1    India           Asia    700          70        B        1380
2       UK         Europe    300          30        A          67
3  Germany         Europe    400          40        B          83
4   Brazil  South America    350          35        A         213
5    India           Asia    650          65        B        1380
6      USA  North America    900          90        A         331
7       UK         Europe    200          20        A          67
8   Brazil  South America    450          45        B         213